# Studio: Working with Databases in Python

For today's studio, we will be using the [TV Shows dataset](https://www.kaggle.com/ruchi798/tv-shows-on-netflix-prime-video-hulu-and-disney) from Kaggle. We have already downloaded the CSV for you.

You will use the watchlist you created to answer these questions:

1. **Which streaming services contain the shows you want to watch next?**
2. **Which streaming service is the best value based on the shows you want to watch?**

As you complete the different tasks in the studio, you may choose between using Pandas or SQL. 

**Remember**: we learned in our prep work that one is oftentimes more efficient at certain tasks than the other, so choose wisely!

## My Watchlist

If you would like, please use this space to make note of your watchlist by editing the text cell. You will need 10 shows overall.

1.Wednesday 
2.Heartstopper
3.Family Reunion
4.Jurassic World Camp Cretaceous
5.Gabby's Dollhouse
6.The Dragon Prince
7.Anne with an E
8.Fuller House
9.Raising Dion
10.The Last Kids on Earth

## Database Setup

Import the necessary libraries and create a dataframe from the provided CSV. 

Print the info out for the dataframe. 

After that, you may drop the column called `Unnamed: 0` and rename any columns with spaces or unusual characters in the names such as `"Disney+"`. 

Print out the info for the dataframe again to ensure your changes were made.

In [17]:
# Code here
#import libraries
import sqlite3
import pandas as pd

df = pd.read_csv('tv_shows.csv')

print("Initial dataframe info:")
df.info()

df = df.drop(columns=['Unnamed: 0'])
df = df.rename(columns={'Disney+': 'Disney_Plus'})

print("\nUpdated dataframe info:")
df.info()

Initial dataframe info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5368 entries, 0 to 5367
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       5368 non-null   int64
 1   ID               5368 non-null   int64
 2   Title            5368 non-null   object
 3   Year             5368 non-null   int64
 4   Age              3241 non-null   object
 5   IMDb             4406 non-null   object
 6   Rotten Tomatoes  5368 non-null   object
 7   Netflix          5368 non-null   int64
 8   Hulu             5368 non-null   int64
 9   Prime Video      5368 non-null   int64
 10  Disney+          5368 non-null   int64
 11  Type             5368 non-null   int64
dtypes: int64(8), object(4)
memory usage: 503.4+ KB

Updated dataframe info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5368 entries, 0 to 5367
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               5368 non-null   int64
 1   Title            5368 non-null   object
 2   Year             5368 non-null   int64
 3   Age              3241 non-null   object
 4   IMDb             4406 non-null   object
 5   Rotten Tomatoes  5368 non-null   object
 6   Netflix          5368 non-null   int64
 7   Hulu             5368 non-null   int64
 8   Prime Video      5368 non-null   int64
 9   Disney_Plus      5368 non-null   int64
 10  Type             5368 non-null   int64
dtypes: int64(7), object(4)
memory usage: 461.4+ KB

With your dataframe at the ready, create a new database called `tv.db`. 

Add a new table to your database called `shows` using the data in the dataframe.

In [18]:
# Code here
con = sqlite3.connect('tv.db')

df.to_sql('shows', con, index=False, if_exists='replace')

cursor = con.cursor()
cursor.execute("SELECT * FROM shows LIMIT 5")
print(cursor.fetchall())

[(1, 'Breaking Bad', 2008, '18+', '9.4/10', '100/100', 1, 0, 0, 0, 1), (2, 'Stranger Things', 2016, '16+', '8.7/10', '96/100', 1, 0, 0, 0, 1), (3, 'Attack on Titan', 2013, '18+', '9.0/10', '95/100', 1, 1, 0, 0, 1), (4, 'Better Call Saul', 2015, '18+', '8.8/10', '94/100', 1, 0, 0, 0, 1), (5, 'Dark', 2017, '16+', '8.8/10', '93/100', 1, 0, 0, 0, 1)]

With your new table and database set up, print out the top 20 records in the `shows`Â table.

In [19]:
cursor.execute("SELECT * FROM shows LIMIT 20")
results = cursor.fetchall()


print("Top 20 records from the 'shows' table:")
for row in results:
    print(row)

Top 20 records from the 'shows' table:
(1, 'Breaking Bad', 2008, '18+', '9.4/10', '100/100', 1, 0, 0, 0, 1)
(2, 'Stranger Things', 2016, '16+', '8.7/10', '96/100', 1, 0, 0, 0, 1)
(3, 'Attack on Titan', 2013, '18+', '9.0/10', '95/100', 1, 1, 0, 0, 1)
(4, 'Better Call Saul', 2015, '18+', '8.8/10', '94/100', 1, 0, 0, 0, 1)
(5, 'Dark', 2017, '16+', '8.8/10', '93/100', 1, 0, 0, 0, 1)
(6, 'Avatar: The Last Airbender', 2005, '7+', '9.3/10', '93/100', 1, 0, 1, 0, 1)
(7, 'Peaky Blinders', 2013, '18+', '8.8/10', '93/100', 1, 0, 0, 0, 1)
(8, 'The Walking Dead', 2010, '18+', '8.2/10', '93/100', 1, 0, 0, 0, 1)
(9, 'Black Mirror', 2011, '18+', '8.8/10', '92/100', 1, 0, 0, 0, 1)
(10, "The Queen's Gambit", 2020, '18+', '8.6/10', '92/100', 1, 0, 0, 0, 1)
(11, 'Mindhunter', 2017, '18+', '8.6/10', '90/100', 1, 0, 0, 0, 1)
(12, 'Community', 2009, '7+', '8.5/10', '90/100', 1, 1, 1, 0, 1)
(13, 'Narcos', 2015, '18+', '8.8/10', '90/100', 1, 0, 0, 0, 1)
(14, 'Shameless', 2011, '18+', '8.5/10', '90/100', 1, 1, 1, 0, 1)
(15, 'Money Heist', 2017, '18+', '8.3/10', '90/100', 1, 0, 0, 0, 1)
(16, "Marvel's Daredevil", 2015, '18+', '8.6/10', '90/100', 1, 0, 0, 0, 1)
(17, 'Lucifer', 2016, '16+', '8.1/10', '90/100', 1, 0, 0, 0, 1)
(18, 'Supernatural', 2005, '16+', '8.4/10', '89/100', 1, 0, 0, 0, 1)
(19, 'The Witcher', 2019, '18+', '8.2/10', '89/100', 1, 0, 0, 0, 1)
(20, 'Ozark', 2017, '18+', '8.4/10', '89/100', 1, 0, 0, 0, 1)

Now, create a new table called `watchlist` that has three fields:
1. id -> data type of `INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT`
2. title -> data type of `TEXT`
3. importance_rank -> data type of `INTEGER`

For the `importance_rank` field, rank each of your watchlist shows based on how much you want to see them, `10` being the most important and `1` being the least important.

Then, insert each of the items from your watchlist into the new `watchlist` table, using the `executemany` method from our exercises.

Finally, select all the records from the `watchlist` table and print them out to the console.

In [20]:

cursor.execute('DROP TABLE IF EXISTS watchlist')

cursor.execute('''
CREATE TABLE watchlist (
    id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
    title TEXT,
    importance_rank INTEGER
)
''')

watchlist_data = [
    ("Wednesday", 10),
    ("Heartstopper", 9),
    ("Family Reunion", 8),
    ("Jurassic World Camp Cretaceous", 7),
    ("Gabby's Dollhouse", 6),
    ("Cosmos", 5),
    ("Malcolm in the Middle", 4),
    ("Fuller House", 3),
    ("Raising Dion", 2),
    ("The Last Kids on Earth", 1)
]

cursor.executemany('''
INSERT INTO watchlist (title, importance_rank)
VALUES (?, ?)
''', watchlist_data)

con.commit()

cursor.execute("SELECT * FROM watchlist ORDER BY importance_rank DESC")
results = cursor.fetchall()

print("Records in the 'watchlist' table:")
for row in results:
    print(row)

Records in the 'watchlist' table:
(1, 'Wednesday', 10)
(2, 'Heartstopper', 9)
(3, 'Family Reunion', 8)
(4, 'Jurassic World Camp Cretaceous', 7)
(5, "Gabby's Dollhouse", 6)
(6, 'Cosmos', 5)
(7, 'Malcolm in the Middle', 4)
(8, 'Fuller House', 3)
(9, 'Raising Dion', 2)
(10, 'The Last Kids on Earth', 1)

## Working with the Data

Using Pandas or SQL, find the answer to these 2 questions:
1. How many of the total shows (full csv list) are on each streaming service?
2. What percentage of these total shows is available on each streaming service?

**Hint**:

Use the pandas `query` method to filter the data, and then the Python `len` method to find it's length. [Relevant Link](https://www.geeksforgeeks.org/ways-to-filter-pandas-dataframe-by-column-values/)

In [21]:


# Count shows on each streaming service
netflix_count = len(df[df['Netflix'] == 1])
hulu_count = len(df[df['Hulu'] == 1])
prime_count = len(df[df['Prime Video'] == 1])
disney_count = len(df[df['Disney_Plus'] == 1])

# Calculate total number of shows
total_shows = len(df)

# Calculate percentages
netflix_percentage = (netflix_count / total_shows) * 100
hulu_percentage = (hulu_count / total_shows) * 100
prime_percentage = (prime_count / total_shows) * 100
disney_percentage = (disney_count / total_shows) * 100

# Print results
print("Number of shows on each streaming service:")
print(f"Netflix: {netflix_count}")
print(f"Hulu: {hulu_count}")
print(f"Prime Video: {prime_count}")
print(f"Disney+: {disney_count}")

print("\nPercentage of shows available on each streaming service:")
print(f"Netflix: {netflix_percentage:.2f}%")
print(f"Hulu: {hulu_percentage:.2f}%")
print(f"Prime Video: {prime_percentage:.2f}%")
print(f"Disney+: {disney_percentage:.2f}%")

Number of shows on each streaming service:
Netflix: 1971
Hulu: 1621
Prime Video: 1831
Disney+: 351

Percentage of shows available on each streaming service:
Netflix: 36.72%
Hulu: 30.20%
Prime Video: 34.11%
Disney+: 6.54%


Now join your `watchlist` data to the `shows` data using pandas or SQL. Verify that you joined the data correctly.

Using this related dataset, come up with analytic code that answers these questions:
1. The number of watchlist shows each streaming service has
2. The percentage of your overall watchlist each streaming service has

In [22]:
# Code here

# Join watchlist with shows
cursor.execute('''
SELECT w.*, s.Netflix, s.Hulu, s."Prime Video", s."Disney_Plus"
FROM watchlist w
LEFT JOIN shows s ON w.title = s.Title
''')

joined_data = cursor.fetchall()

# Create a DataFrame from the joined data
columns = ['id', 'title', 'importance_rank', 'Netflix', 'Hulu', 'Prime Video', 'Disney_Plus']
df_joined = pd.DataFrame(joined_data, columns=columns)

print("Joined data:")
print(df_joined)

# 1. Number of watchlist shows each streaming service has
streaming_counts = df_joined[['Netflix', 'Hulu', 'Prime Video', 'Disney_Plus']].sum()

print("\nNumber of watchlist shows on each streaming service:")
print(streaming_counts)

# 2. Percentage of overall watchlist each streaming service has
total_shows = len(df_joined)
streaming_percentages = (streaming_counts / total_shows) * 100

print("\nPercentage of watchlist shows on each streaming service:")
print(streaming_percentages)

Joined data:
   id                           title  importance_rank  Netflix  Hulu  \
0   1                       Wednesday               10      NaN   NaN
1   2                    Heartstopper                9      NaN   NaN
2   3                  Family Reunion                8      1.0   0.0
3   4  Jurassic World Camp Cretaceous                7      NaN   NaN
4   5               Gabby's Dollhouse                6      1.0   0.0
5   6                          Cosmos                5      0.0   1.0
6   7           Malcolm in the Middle                4      0.0   1.0
7   8                    Fuller House                3      1.0   0.0
8   9                    Raising Dion                2      1.0   0.0
9  10          The Last Kids on Earth                1      1.0   0.0

   Prime Video  Disney_Plus
0          NaN          NaN
1          NaN          NaN
2          0.0          0.0
3          NaN          NaN
4          0.0          0.0
5          1.0          1.0
6          0.0          0.0
7          0.0          0.0
8          0.0          0.0
9          0.0          0.0

Number of watchlist shows on each streaming service:
Netflix        5.0
Hulu           2.0
Prime Video    1.0
Disney_Plus    1.0
dtype: float64

Percentage of watchlist shows on each streaming service:
Netflix        50.0
Hulu           20.0
Prime Video    10.0
Disney_Plus    10.0
dtype: float64

## Results

Now that you have done your analysis, make note of the answers to the following questions by editing the text cell:

1. Was every show on your watchlist in the Kaggle dataset? Do you have any ideas as to why a show might not have been present?

- There are several possibilties example:
    1) The dataset in Kaggle was updated 3 years ago and my show might be newer
    2) There might be spelling or space differences. For example, I would called it Heartstopper while the Kaggle dataset has it as "Heart Stopper" with a space - That was not the case here but is a possiblity

2. Did you include a show or shows in your watchlist that is exclusive to one of the platforms? How might that have impacted your analysis?

-  Looks like most of the my shows are only from Netflix and one from Hulu. Only one show is on all 3 platform. This makes it trivial to identify value. However if there was a lot more overlap, it would take more effort

3. Which streaming service(s) offered the most shows on your watchlist? Which streaming service(s) offered the least?

-  Netflix has the most, Hulu comes a distant 2nd, Prime and Disney are last. In addition the show that is on Prime and Disney is present in Netflix and Hulu as well. 

4. Based on the shows you want to watch and the results of your analysis, is there a streaming service you think would be a good fit for you?

-  Yes - Netflix would be the best value. The show that is exclusive on Hulu is not huge favorite so wouldn't mind dropping Hulu

# Bonus Mission

We didn't end up using that `importance_rank` field, did we?

Well, that was intentional! 

Your bonus mission is to come up with analysis that uses that field to determine, based on watchlist show importance_rank and number of watchlist shows available on a service, which platform you should subscribe to.

In [23]:
# Code Here